/* ===========================
   LETTER
=========================== */

.letter{

    background:

    linear-gradient(
        180deg,
        #fff5f7,
        #ffeef3
    );

}

.letter-container{

    display:flex;

    justify-content:center;

}

.letter-paper{

    max-width:850px;

    background:#fffdf8;

    padding:70px;

    border-radius:20px;

    box-shadow:

        0 30px 60px rgba(0,0,0,.12);

    position:relative;

    overflow:hidden;

}

/* Decorative corner */

.letter-paper::before{

    content:"💌";

    position:absolute;

    top:20px;

    right:25px;

    font-size:2rem;

}

.letter-date{

    color:var(--primary);

    font-weight:600;

    margin-bottom:25px;

}

.letter-paper h3{

    font-family:var(--heading);

    font-size:3rem;

    color:var(--primary);

    margin-bottom:35px;

}

.letter-paper p{

    font-size:1.15rem;

    line-height:2;

    margin-bottom:25px;

    text-align:justify;

}

.signature{

    margin-top:60px;

    text-align:right;

    font-family:var(--heading);

    font-size:2.4rem;

    color:var(--primary);

}

.signature span{

    display:block;

    margin-top:15px;

    font-size:3rem;

}

.envelope{

    width:500px;

    margin:auto;

    position:relative;

}

.flap{

    height:180px;

    background:#ff4f81;

    clip-path:polygon(0 0,100% 0,50% 100%);

    transition:1s;

    transform-origin:top;

}

.paper{

    background:white;

    padding:50px;

    transform:translateY(-40px);

    opacity:0;

    transition:1s;

}

.envelope.open .flap{

    transform:rotateX(180deg);

}

.envelope.open .paper{

    transform:translateY(0);

    opacity:1;

}

#signature{

    display:inline-block;

    overflow:hidden;

    white-space:nowrap;

    width:0;

    border-right:3px solid var(--primary);

}

#signature.write{

    animation:

    typing 3s steps(15,end) forwards,

    blink .8s infinite;

}